/* リキッドレイアウト対応 */
@use "global" as *;

html {
  //~375px
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }

  //375px~787px
  font-size: 16px;

  @media (min-width:768px){
    font-size: vw(strip-unit($inner), 16);
  }

  //inner~max-screen
  @media (min-width: $inner) {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  pointer-events: none;
  @include mq("md") {
    pointer-events: all;
  }
}

a{
  text-decoration: none;
  color: inherit;
}



img{
  height: 100%;
  object-fit: cover;
}