@use 'global' as *;

.access {
  background-color: var(--white);
  margin-bottom: rem(180);
}

.access__inner {
  max-width: rem(1047);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.access__box {
  position: relative;
  background-color: var(--milktea);
  padding: rem(60);
  display: flex;
  gap: rem(30);
}

.access__logo {
  margin-bottom: rem(20);
  aspect-ratio: 195/66;
  width: rem(195);
}

.access__left {
  width: rem(290);
}

.access__address {
  margin-bottom: rem(20);
}

.access__address-text {
  margin-bottom: rem(12);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.access__address-text:last-child {
  margin-bottom: 0;
}

.access__hours {
  margin-bottom: rem(20);
}

.access__hours-item {
  margin-bottom: rem(12);
  display: flex;
  gap: rem(32);
  align-items: center;
}

.access__hours-item:last-child {
  margin-bottom: 0;
}

.access__hours-label {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.access__hours-time {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.access__map-link {
  display: flex;
  align-items: center;
  gap: rem(8);
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.access__map-text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.access__map-icon {
  width: rem(24);
  aspect-ratio: 1;
  object-fit: contain;
  transition: filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
  .access__map-link:hover {
    .access__map-text {
      color: var(--brown);
    }

    .access__map-icon {
      filter: brightness(0) saturate(100%) invert(45%) sepia(30%) saturate(1000%) hue-rotate(15deg) brightness(0.6) contrast(1.2);
    }
  }
}

.access__map {
  width: 50%;
  flex-grow: 1;
}
