@use 'global' as *;

.access {
  background-color: var(--white);
  margin-bottom: rem(180);
}

.access__inner {
  max-width: rem(1047);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.access__box {
  position: relative;
  background-color: var(--milktea);
  padding: rem(60);
  display: flex;
  gap: rem(30);
}

.access__logo {
  margin-bottom: rem(20);
  aspect-ratio: 195/66;
  width: rem(195);
}

.access__logo-img {
}

.access__left {
  width: rem(290);
}

.access__address {
  margin-bottom: rem(20);
}

.access__address-text {
  margin-bottom: rem(12);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.access__address-text:last-child {
  margin-bottom: 0;
}

.access__hours {
  margin-bottom: rem(20);
}

.access__hours-item {
  margin-bottom: rem(12);
  display: flex;
  gap: rem(32);
  align-items: center;
}

.access__hours-item:last-child {
  margin-bottom: 0;
}

.access__hours-label {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.access__hours-time {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.access__map-link {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.access__map-text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.access__map-icon {
  width: rem(24);
  aspect-ratio: 1;
  object-fit: contain;
}

.access__map {
  width: 50%;
  flex-grow: 1;
}
