@use 'global' as *;

.access {
  position: absolute;
  left: rem(221);
  top: rem(6758);
  width: rem(997);
  background-color: var(--white);
}

.access__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.access__box {
  position: relative;
  width: rem(997);
  height: rem(477);
  padding: 0;
  background-color: var(--milktea);
}

.access__logo {
  position: absolute;
  left: rem(15);
  top: rem(-66.33);
  width: rem(209.717);
  height: rem(222.402);
  mask-image: url('../images/common/common_logo_header.svg');
  mask-size: rem(195) rem(66.331);
  mask-position: rem(7.358) rem(66.33);
  mask-repeat: no-repeat;
}

.access__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.access__left {
  position: absolute;
  left: rem(60);
  top: rem(61.789);
  width: rem(259);
}

.access__address {
  position: absolute;
  left: rem(15);
  top: rem(88);
  display: flex;
  flex-direction: column;
  gap: 0;
}

.access__address-text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2;
  margin: 0;
}

.access__hours {
  position: absolute;
  left: rem(15);
  top: rem(236.06);
}

.access__hours-item {
  position: absolute;
  left: 0;
}

.access__hours-item:nth-of-type(1) {
  top: rem(236.06);
}

.access__hours-item:nth-of-type(2) {
  top: rem(275.76);
}

.access__hours-label {
  position: absolute;
  left: rem(15);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2;
  white-space: pre;
}

.access__hours-time {
  position: absolute;
  left: rem(93);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2;
  white-space: pre;
}

.access__map-link {
  position: absolute;
  left: rem(15);
  top: rem(321.34);
  display: flex;
  align-items: center;
  gap: rem(8);
  text-decoration: none;
}

.access__map-text {
  position: absolute;
  left: rem(15);
  top: rem(321.34);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2;
  white-space: pre;
}

.access__map-icon {
  position: absolute;
  left: rem(142);
  top: rem(325.78);
  width: rem(24);
  height: rem(26.683);
  object-fit: contain;
}

.access__map {
  position: absolute;
  left: rem(307);
  top: rem(-22.55);
  width: rem(555);
  height: rem(370);
  mask-image: url('../images/access/access_mask.svg');
  mask-size: rem(548) rem(342.435);
  mask-position: rem(7) rem(28);
  mask-repeat: no-repeat;
}

.access__map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include mq {
  .access {
    padding: rem(60) 0;
  }

  .access__inner {
    padding: 0 var(--padding-sp);
  }

  .access__box {
    grid-template-columns: 1fr;
    gap: rem(30);
    padding: rem(30) rem(20);
  }

  .access__logo {
    position: static;
    margin: 0 auto rem(20);
    width: rem(150);
    height: rem(150);
    mask: none;
  }

  .access__left {
    gap: rem(20);
  }

  .access__map {
    mask: none;
    height: auto;
  }

  .access__map-img {
    height: auto;
  }
}
