@use 'global' as *;

.js-parallax {
  position: relative;
  overflow: hidden;
  img {
    height: calc(100% + 10%);
  }
}

// marche
.marche {
  .marche__link {
    opacity: 0;
  }
}

@keyframes marcheLink {
  0% {
    opacity: 0;
    transform: translateX(rem(-10)) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

.marche.is-active {
  .marche__link {
    animation: marcheLink 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s;
  }
}
