@use 'global' as *;

.cafe {
  position: absolute;
  left: rem(22);
  top: rem(2939);
  width: rem(1396);
  background-color: var(--white);
}

.cafe__inner {
  position: relative;
  width: 100%;
}

.cafe__header {
  position: relative;
  width: 100%;
}

.cafe__logo {
  position: absolute;
  left: rem(635);
  top: 0;
  width: rem(185);
  height: rem(185);
}

.cafe__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cafe__title-en {
  position: absolute;
  left: rem(676);
  top: rem(71);
  transform: translateX(-50%);
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.5em;
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.cafe__title-jp {
  position: absolute;
  left: rem(709);
  top: rem(173);
  transform: translateX(-50%);
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.18em;
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.cafe__text {
  position: absolute;
  left: rem(709);
  top: rem(241);
  transform: translateX(-50%);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2.2;
  margin: 0;
  text-align: center;
  width: rem(450);
}

.cafe__menu {
  position: absolute;
  left: 0;
  top: rem(673);
  width: rem(1396);
  height: rem(289);
}

.cafe__menu-item {
  position: absolute;
}

.cafe__menu-item:nth-of-type(1) {
  left: rem(-20);
  top: rem(-27);
  width: rem(472);
  height: rem(316);
  mask-image: url('../images/cafe/cafe_01_mask.svg');
  mask-size: rem(432) rem(289);
  mask-position: rem(20) rem(27);
  mask-repeat: no-repeat;
}

.cafe__menu-item:nth-of-type(2) {
  left: rem(454);
  top: 0;
  width: rem(487);
  height: rem(324);
  mask-image: url('../images/cafe/cafe_02_mask.svg');
  mask-size: rem(432) rem(289);
  mask-position: rem(28) 0;
  mask-repeat: no-repeat;
}

.cafe__menu-item:nth-of-type(3) {
  left: rem(950);
  top: 0;
  width: rem(459);
  height: rem(306);
  mask-image: url('../images/cafe/cafe_03_mask.svg');
  mask-size: rem(432) rem(289);
  mask-position: rem(14) 0;
  mask-repeat: no-repeat;
}

.cafe__menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafe__more {
  position: absolute;
  left: rem(1330);
  top: rem(1022);
}

.cafe__more-text {
  font-family: var(--en-font);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.cafe__more::after {
  content: '';
  position: absolute;
  left: rem(1336);
  top: rem(1061);
  width: rem(10);
  height: rem(10);
  background-color: var(--brown);
  border-radius: 50%;
}

.cafe__marche {
  position: absolute;
  left: rem(254);
  top: rem(1166);
  width: rem(888);
  height: rem(346);
}

.cafe__marche-badge {
  position: absolute;
  left: rem(339);
  top: 0;
  width: rem(210);
  height: rem(32);
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cafe__marche-badge::before {
  content: '出展者募集中';
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  color: var(--milktea);
  letter-spacing: 0.15em;
}

.cafe__marche-box {
  position: absolute;
  left: 0;
  top: rem(24);
  width: rem(888);
  height: rem(322);
  padding: rem(55.5) rem(80);
  background-color: var(--milktea);
  border: 1px solid var(--brown);
  box-sizing: border-box;
}

.cafe__marche-title {
  font-family: var(--base-font-family);
  font-size: rem(24);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.5em;
  line-height: 2;
  margin: 0 0 rem(68);
  text-align: center;
}

.cafe__marche-text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
  margin: 0 0 rem(68);
  text-align: center;
  width: rem(728);
}

.cafe__marche-link {
  position: absolute;
  left: rem(842);
  top: rem(258);
  width: rem(88);
  height: rem(88);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--brown);
  border-radius: 50%;
  text-decoration: none;
}

.cafe__marche-icon {
  width: rem(54);
  height: rem(54);
  object-fit: contain;
}

@include mq {
  .cafe {
    position: static;
    width: 100%;
    padding: rem(60) 0;
  }

  .cafe__inner {
    padding: 0 var(--padding-sp);
  }

  .cafe__header {
    margin-bottom: rem(40);
  }

  .cafe__logo {
    position: static;
    width: rem(120);
    height: rem(120);
    margin: 0 auto rem(20);
  }

  .cafe__title-en {
    position: static;
    font-size: rem(24);
    transform: none;
    margin-bottom: rem(20);
  }

  .cafe__title-jp {
    position: static;
    font-size: rem(18);
    transform: none;
    margin-bottom: rem(20);
  }

  .cafe__text {
    position: static;
    font-size: rem(14);
    transform: none;
    width: 100%;
    margin-bottom: rem(40);
  }

  .cafe__menu {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: rem(40);
  }

  .cafe__menu-item {
    position: static;
    margin-bottom: rem(20);
    width: 100%;
    height: auto;
    mask: none;
  }

  .cafe__menu-item:nth-of-type(1) {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .cafe__menu-item:nth-of-type(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .cafe__menu-item:nth-of-type(3) {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .cafe__menu-img {
    height: auto;
  }

  .cafe__more {
    position: static;
    text-align: center;
    margin-bottom: rem(40);
  }

  .cafe__more::after {
    display: none;
  }

  .cafe__marche {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: rem(40);
  }

  .cafe__marche-badge {
    position: static;
    width: 100%;
    margin-bottom: rem(20);
  }

  .cafe__marche-box {
    position: static;
    width: 100%;
    height: auto;
    padding: rem(30) rem(20);
  }

  .cafe__marche-title {
    font-size: rem(20);
    margin-bottom: rem(20);
  }

  .cafe__marche-text {
    font-size: rem(14);
    width: 100%;
    margin-bottom: rem(20);
  }

  .cafe__marche-link {
    position: static;
    margin: 0 auto;
  }
}
