@use 'global' as *;

.cafe {
  margin-bottom: rem(95);
}

.cafe__inner {
  max-width: rem(1450);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.cafe__header {
  position: relative;
  width: 100%;
}

.cafe__logo {
  width: rem(185);
  aspect-ratio: 1;
  margin-inline: auto;
}

.cafe__logo-img {
  object-fit: contain;
}

.cafe__title-en {
  margin-top: rem(-110);
  margin-bottom: rem(40);
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.5em;
  line-height: 2;
  text-align: center;
}

.cafe__title-jp {
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.18em;
  line-height: 2;
  text-align: center;
}

.cafe__text {
  width: rem(450);
  margin-inline: auto;
  margin-bottom: rem(80);
  text-align: center;
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.cafe__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: rem(50);
  margin-bottom: rem(50);
}

.cafe__menu-item {
  aspect-ratio: 432/289;
  overflow: hidden;
  position: relative;
}

.cafe__menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafe__more {
  margin-left: auto;
  margin-right: rem(45);
}
