@use 'global' as *;

.cafe {
  position: absolute;
  left: rem(22);
  top: rem(2723);
  width: rem(1396);
  background-color: var(--white);
}

.cafe::before {
  content: '';
  position: absolute;
  top: rem(-200);
  left: 0;
  right: 0;
  height: rem(200);
  background-image: url('../images/common/common_wave.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cafe__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.cafe__header {
  position: relative;
}

.cafe__logo {
  position: absolute;
  left: rem(635);
  top: rem(216);
  width: rem(185);
  height: rem(185);
}

.cafe__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cafe__title-en {
  position: absolute;
  left: rem(676);
  top: rem(287);
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: rem(14);
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: pre;
}

.cafe__title-jp {
  position: absolute;
  left: rem(457);
  top: rem(389);
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: rem(3.96);
  line-height: 2;
  margin: 0;
  text-align: left;
  width: rem(541);
}

.cafe__text {
  position: absolute;
  left: rem(499);
  top: rem(457);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2;
  margin: 0;
  text-align: left;
  width: rem(450);
  height: rem(352);
}

.cafe__menu {
  position: absolute;
  left: 0;
  top: rem(673);
  width: rem(1396);
  height: rem(289);
}

.cafe__menu-item {
  position: absolute;
  width: rem(432);
  height: rem(289);
  mask-image: url('../images/cafe/cafe_01_mask.svg');
  mask-size: rem(432) rem(289);
  mask-repeat: no-repeat;
}

.cafe__menu-item:nth-of-type(1) {
  left: 0;
  top: 0;
  width: rem(472);
  height: rem(316);
  mask-position: rem(20) rem(27);
}

.cafe__menu-item:nth-of-type(2) {
  left: rem(482);
  top: 0;
  width: rem(487);
  height: rem(324);
  mask-position: rem(28) 0;
}

.cafe__menu-item:nth-of-type(3) {
  left: rem(964);
  top: 0;
  width: rem(459);
  height: rem(306);
  mask-position: rem(14) 0;
}

.cafe__menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafe__more {
  position: absolute;
  left: rem(1310);
  top: rem(1022);
}

.cafe__more-text {
  font-family: var(--en-font);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: rem(2.64);
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: pre;
}

.cafe__more::after {
  content: '';
  position: absolute;
  left: rem(1336);
  top: rem(1061);
  width: rem(10);
  height: rem(10);
  background-color: var(--brown);
  border-radius: 50%;
}

.cafe__marche {
  position: absolute;
  left: rem(254);
  top: rem(1382);
  width: rem(888);
  height: rem(346);
}

.cafe__marche-badge {
  position: absolute;
  left: rem(339);
  top: 0;
  width: rem(210);
  height: rem(32);
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cafe__marche-badge::before {
  content: '出展者募集中';
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  color: var(--milktea);
  letter-spacing: rem(2.4);
}

.cafe__marche-box {
  position: absolute;
  left: 0;
  top: rem(24);
  padding: rem(55.5) rem(80);
  background-color: var(--milktea);
  border: 1px solid var(--brown);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  width: rem(888);
  height: rem(322);
}

.cafe__marche-title {
  font-family: var(--base-font-family);
  font-size: rem(24);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: rem(12);
  line-height: 2;
  margin: 0;
  text-align: center;
}

.cafe__marche-text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2;
  margin: 0;
  text-align: center;
  max-width: rem(728);
}

.cafe__marche-link {
  position: absolute;
  left: rem(842);
  top: rem(234);
  width: rem(88);
  height: rem(88);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--brown);
  border-radius: 50%;
  text-decoration: none;
}

.cafe__marche-icon {
  width: rem(54);
  height: rem(54);
  object-fit: contain;
}

@include mq {
  .cafe {
    padding: rem(80) 0;
  }

  .cafe__inner {
    padding: 0 var(--padding-sp);
    gap: rem(30);
  }

  .cafe__logo {
    width: rem(120);
    height: rem(120);
  }

  .cafe__title-en {
    font-size: rem(24);
  }

  .cafe__title-jp {
    font-size: rem(18);
  }

  .cafe__text {
    font-size: rem(14);
  }

  .cafe__menu {
    grid-template-columns: 1fr;
    gap: rem(20);
  }

  .cafe__menu-item {
    mask: none;
    height: auto;
  }

  .cafe__menu-img {
    height: auto;
  }

  .cafe__more-text {
    font-size: rem(18);
  }

  .cafe__marche {
    max-width: 100%;
  }

  .cafe__marche-box {
    padding: rem(30) rem(20);
    gap: rem(30);
  }

  .cafe__marche-title {
    font-size: rem(20);
  }

  .cafe__marche-text {
    font-size: rem(14);
    max-width: 100%;
  }
}
