@use 'global' as *;

.concept {
  margin-bottom: rem(190);
}

.concept__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.concept__left {
  width: 50%;
  flex-grow: 1;
  gap: rem(100);
}

.concept__gallery {
  position: relative;
}

.concept__gallery-item {
}

.concept__gallery-item:nth-of-type(1) {
  width: rem(522);
  aspect-ratio: 522/377;
  margin-right: auto;
}

.concept__gallery-item:nth-of-type(2) {
  width: rem(211);
  aspect-ratio: 211/202;
  margin-left: auto;
}

.concept__gallery-item:nth-of-type(3) {
  width: rem(286);
  aspect-ratio: 286/212;
  margin-left: vw(1440, 286);
}

.concept__gallery-img {
}

.concept__right {
  width: 27%;
  padding-right: rem(90);
}

.concept__logo {
  width: rem(185);
  aspect-ratio: 1;
}

.concept__logo-img {
  object-fit: contain;
}

.concept__title-en {
  margin-top: rem(-50);
  margin-bottom: rem(40);
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.5em;
  line-height: 2;
  white-space: nowrap;
  text-align: left;
}

.concept__title-jp {
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.18em;
  line-height: 2;
  margin: 0 0 rem(172);
}

.concept__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2.2;
  margin: 0 0 rem(136);
}

.concept__text:last-of-type {
  margin-bottom: 0;
}
