@use 'global' as *;

.concept {
  margin-bottom: rem(190);
}

.concept__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(100);
}

.concept__left {
  width: 50%;
  flex-grow: 1;
}

.concept__gallery {
  position: relative;
}

.concept__gallery-item {
  overflow: hidden;
}

.concept__gallery-item:nth-of-type(1) {
  width: 60%;
  aspect-ratio: 522/377;
  margin-right: auto;
}

.concept__gallery-item:nth-of-type(2) {
  margin-top: rem(30);
  width: 32%;
  aspect-ratio: 211/202;
  margin-left: auto;
}

.concept__gallery-item:nth-of-type(3) {
  width: 40%;
  margin-top: rem(-200);
  aspect-ratio: 286/212;
  margin-left: vw(1440, 98);
}

.concept__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.concept__right {
  width: rem(540);
  padding-right: rem(90);
}

.concept__title {
  .section-header__title-en {
    text-align: left;
    white-space: nowrap;
  }
}

.concept__title-jp {
  margin-bottom: rem(40);
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.18em;
  line-height: 2;
}

.concept__text {
  margin-bottom: rem(40);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2.2;
}
