@use 'global' as *;

.concept {
  position: absolute;
  left: 0;
  top: rem(1206);
  width: 100%;
  background-color: var(--base);
  padding-top: rem(60);
  padding-bottom: rem(60);
}

.concept__inner {
  position: relative;
  width: 100%;
  max-width: rem(1440);
  margin: 0 auto;
}

.concept__left {
  position: absolute;
  left: 0;
  top: 0;
  width: rem(800);
  height: rem(692);
}

.concept__gallery {
  position: relative;
  width: 100%;
  height: 100%;
}

.concept__gallery-item {
  position: absolute;
}

.concept__gallery-item:nth-of-type(1) {
  left: rem(-71.09);
  top: rem(-17);
  width: rem(663.83);
  height: rem(443);
  mask-image: url('../images/concept/concept_01_mask.svg');
  mask-size: rem(522.653) rem(377);
  mask-position: rem(71.089) rem(17);
  mask-repeat: no-repeat;
}

.concept__gallery-item:nth-of-type(2) {
  left: rem(98.12);
  top: rem(480);
  width: rem(336.421);
  height: rem(224);
  mask-image: url('../images/concept/concept_02_mask.svg');
  mask-size: rem(286.358) rem(212);
  mask-position: rem(50.063) rem(6);
  mask-repeat: no-repeat;
}

.concept__gallery-item:nth-of-type(3) {
  left: rem(588.74);
  top: rem(431);
  width: rem(327.409);
  height: rem(218);
  mask-image: url('../images/concept/concept_03_mask.svg');
  mask-size: rem(211.264) rem(202);
  mask-position: rem(15.019) rem(8);
  mask-repeat: no-repeat;
}

.concept__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.concept__right {
  position: absolute;
  left: rem(900);
  top: rem(46);
  width: rem(450);
  padding-left: rem(10);
}

.concept__logo {
  width: rem(185);
  height: rem(185);
  margin-bottom: rem(64);
  position: relative;
}

.concept__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.concept__title-en {
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: rem(14);
  line-height: 2;
  margin: 0 0 rem(96);
  white-space: nowrap;
  text-align: left;
}

.concept__title-jp {
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: rem(3.96);
  line-height: 2;
  margin: 0 0 rem(172);
}

.concept__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2.2;
  margin: 0 0 rem(136);
}

.concept__text:last-of-type {
  margin-bottom: 0;
}

.concept__wood {
  position: absolute;
  left: 50%;
  top: rem(560);
  transform: translateX(-50%);
  width: rem(1340);
  height: rem(893);
  mask-image: url('../images/concept/concept_wood_mask.svg');
  mask-size: rem(1000) rem(475);
  mask-position: rem(161) rem(322);
  mask-repeat: no-repeat;
}

.concept__wood-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include mq {
  .concept {
    position: static;
    padding: rem(60) 0;
  }

  .concept__inner {
    padding: 0 var(--padding-sp);
  }

  .concept__left {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: rem(40);
  }

  .concept__gallery {
    position: static;
    height: auto;
    margin-bottom: rem(40);
  }

  .concept__gallery-item {
    position: static;
    margin-bottom: rem(20);
    width: 100%;
    height: auto;
    mask: none;
  }

  .concept__gallery-item:nth-of-type(1) {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .concept__gallery-item:nth-of-type(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .concept__gallery-item:nth-of-type(3) {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .concept__gallery-img {
    height: auto;
  }

  .concept__wood {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: rem(40);
    mask: none;
    left: 0;
    top: 0;
    transform: none;
  }

  .concept__wood-img {
    height: auto;
  }

  .concept__right {
    position: static;
    width: 100%;
    left: 0;
    top: 0;
  }

  .concept__logo {
    width: rem(120);
    height: rem(120);
    margin: 0 auto rem(20);
  }

  .concept__title-en {
    font-size: rem(24);
    text-align: center;
    margin-bottom: rem(20);
  }

  .concept__title-jp {
    font-size: rem(18);
    text-align: center;
    margin-bottom: rem(20);
  }

  .concept__text {
    font-size: rem(14);
    text-align: center;
    margin-bottom: rem(20);
  }
}
