@use 'global' as *;

.footer {
  position: absolute;
  left: rem(626);
  top: rem(7415);
  width: rem(376);
  background-color: var(--white);
}

.footer__inner {
  width: 100%;
  text-align: center;
}

.footer__copyright {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  margin: 0;
  white-space: nowrap;
}

@include mq {
  .footer {
    position: static;
    width: 100%;
    padding: rem(30) 0;
  }

  .footer__inner {
    padding: 0 var(--padding-sp);
  }

  .footer__copyright {
    font-size: rem(14);
  }
}
