@use 'global' as *;

.fv {
  position: absolute;
  left: 0;
  top: rem(90);
  width: 100%;
  height: rem(994);
  background-color: var(--base);
  overflow: hidden;
}

.fv__bg {
  position: absolute;
  left: rem(-18);
  top: 0;
  width: rem(1558);
  height: rem(994);
  mask-image: url('../images/fv/fv_mask.svg');
  mask-size: rem(1062) rem(990);
  mask-position: rem(396) 0;
  mask-repeat: no-repeat;
}

.fv__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fv__content {
  position: absolute;
  left: rem(417);
  top: rem(263);
  z-index: 1;
}

.fv__title {
  font-family: var(--decorative-font);
  font-size: rem(120);
  font-weight: var(--bold);
  color: var(--milktea);
  line-height: 1.7;
  margin: 0;
  white-space: pre;
}

.fv__title-line {
  display: block;
}

@include mq {
  .fv {
    position: static;
    height: rem(500);
    padding: rem(60) 0;
  }

  .fv__bg {
    left: 0;
    top: rem(60);
    width: 100%;
    height: rem(500);
    mask-size: 100% 100%;
    mask-position: 0 0;
  }

  .fv__content {
    left: rem(20);
    top: rem(200);
  }

  .fv__title {
    font-size: rem(60);
    line-height: 1.5;
  }
}
