@use 'global' as *;

.fv {
  margin-bottom: rem(125);
  width: 100%;
  background-color: var(--base);
  display: flex;
  align-items: flex-start;
  gap: rem(105);
  padding-left: rem(107);
  position: relative;
  overflow: hidden;
}

.fv__bg-wrap {
  position: relative;
  width: 50%;
  flex-grow: 1;
}

.fv__bg {
  height: 100vh;
  min-height: rem(800);
  max-height: rem(1100);
}

.fv__content {
  position: absolute;
  top: 30%;
  left: rem(40);
}

.fv__title {
  font-family: var(--decorative-font);
  font-size: rem(120);
  font-weight: var(--bold);
  color: var(--milktea);
  line-height: 1.7;
}

.fv__title-line {
  display: block;
}

.fv__title-line:nth-of-type(2) {
  margin-left: 1em;
}

.fv__nav {
  width: rem(165);
}

.fv__logo {
  margin-bottom: rem(52);
  display: block;
  aspect-ratio: 165/150;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.fv__logo-img {
  object-fit: contain;
}

.fv__nav-items {
  max-width: rem(98);
  margin-inline: auto;
  display: grid;
  gap: rem(10);
}

.fv__nav-item {
  padding: rem(5) 0;
  font-size: rem(14);
  font-weight: var(--bold);
  font-family: var(--en-font);
  color: var(--brown);
  letter-spacing: 0.12em;
  text-decoration: none;
  display: block;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: rem(2);
    background-color: var(--brown);
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (any-hover: hover) {
  .fv__logo:hover {
    opacity: 0.7;
  }

  .fv__nav-item:hover {
    color: var(--brack);
    transform: translateX(rem(5));

    &::after {
      width: 100%;
    }
  }
}
