@use 'global' as *;

.info {
  margin-bottom: rem(200);
}

.info__inner {
  max-width: rem(500);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.info__logo {
  width: rem(185);
  height: rem(185);
  margin-inline: auto;
}

.info__logo-img {
  object-fit: contain;
}

.info__title-en {
  margin-bottom: rem(45);
  margin-top: rem(-120);
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.5em;
  line-height: 2;
  text-align: center;
}

.info__text {
  margin-bottom: rem(55);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2.2;
  text-align: center;
}

.info__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.info__link-icon {
  width: rem(24);
  height: rem(24);
  object-fit: contain;
}

.info__link-text {
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.12em;
  white-space: nowrap;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
  .info__link:hover {
    transform: translateY(rem(-3));
    
    .info__link-text {
      color: var(--brack);
    }
  }
}
