@use 'global' as *;

.info {
  position: absolute;
  left: rem(495);
  top: rem(6037);
  width: rem(450);
  height: rem(521);
  background-color: var(--white);
}

.info__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.info__logo {
  position: absolute;
  left: rem(133);
  top: 0;
  transform: translateX(-50%);
  width: rem(185);
  height: rem(185);
}

.info__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__title-en {
  position: absolute;
  left: rem(225.5);
  top: rem(71);
  transform: translateX(-50%);
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: rem(14);
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.info__text {
  position: absolute;
  left: rem(225);
  top: rem(173);
  transform: translateX(-50%);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2.2;
  margin: 0;
  text-align: center;
  width: rem(450);
}

.info__link {
  position: absolute;
  left: rem(99);
  top: rem(483);
  display: flex;
  align-items: center;
  gap: rem(10);
  text-decoration: none;
}

.info__link-icon {
  width: rem(24);
  height: rem(24);
  object-fit: contain;
}

.info__link-text {
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: rem(1.68);
  white-space: nowrap;
}

@include mq {
  .info {
    position: static;
    width: 100%;
    height: auto;
    padding: rem(60) 0;
  }

  .info__inner {
    padding: 0 var(--padding-sp);
  }

  .info__logo {
    position: static;
    width: rem(120);
    height: rem(120);
    margin: 0 auto rem(20);
    transform: none;
  }

  .info__title-en {
    position: static;
    font-size: rem(24);
    transform: none;
    margin-bottom: rem(20);
  }

  .info__text {
    position: static;
    font-size: rem(14);
    transform: none;
    width: 100%;
    margin-bottom: rem(40);
  }

  .info__link {
    position: static;
    justify-content: center;
    margin: 0 auto;
  }
}
