@use 'global' as *;

.info {
  background-color: var(--white);
}

.info__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.info__logo {
  width: rem(185);
  height: rem(185);
}

.info__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__title-en {
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.5em;
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.info__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2.2;
  margin: 0;
  text-align: center;
  width: rem(450);
}

.info__link {
  display: flex;
  align-items: center;
  gap: rem(10);
  text-decoration: none;
}

.info__link-icon {
  width: rem(24);
  height: rem(24);
  object-fit: contain;
}

.info__link-text {
  font-family: var(--base-font-family);
  font-size: rem(14);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.12em;
  white-space: nowrap;
}
