@use 'global' as *;
.marche {
}

.marche__badge {
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.marche__badge::before {
  content: '出展者募集中';
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--bold);
  color: var(--milktea);
  letter-spacing: rem(2.4);
}

.marche__box {
  width: rem(888);
  height: rem(322);
  padding: rem(55.5) rem(80);
  background-color: var(--milktea);
  border: 1px solid var(--brown);
  box-sizing: border-box;
}

.marche__title {
  font-family: var(--base-font-family);
  font-size: rem(24);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: rem(12);
  line-height: 2;
  margin: 0 0 rem(68);
  text-align: center;
}

.marche__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: rem(1.92);
  line-height: 2;
  margin: 0 0 rem(68);
  text-align: center;
  width: rem(728);
}

.marche__link {
  top: rem(258);
  width: rem(88);
  height: rem(88);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--brown);
  border-radius: 50%;
  text-decoration: none;
}

.marche__icon {
  width: rem(54);
  height: rem(54);
  object-fit: contain;
}
