@use 'global' as *;
.marche {
  margin-bottom: rem(200);
}

.marche__inner {
  max-width: rem(938);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.marche__badge {
  background-color: var(--brown);
  width: fit-content;
  margin-inline: auto;
  z-index: 3;
  position: relative;
  padding: rem(7) rem(15);
  min-width: rem(210);
  color: var(--white);
  text-align: center;
}

.marche__box {
  margin-top: rem(-15);
  padding: rem(45) rem(80) rem(34);
  background-color: var(--milktea);
  border: 1px solid var(--brown);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.marche__title {
  font-family: var(--base-font-family);
  font-size: rem(24);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.5em;
  line-height: 2;
  margin-bottom: rem(20);
  text-align: center;
}

.marche__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
}

.marche__link {
  position: absolute;
  bottom: rem(-24);
  right: rem(-42);
  aspect-ratio: 1;
  width: rem(88);
  padding: rem(15);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--brown);
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.marche__icon {
  width: rem(24);
  object-fit: contain;
}

.cafe__marche-icon {
  width: rem(24);
  object-fit: contain;
  transition: filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (any-hover: hover) {
  .marche__link:hover {
    background-color: var(--brown);
    border-color: var(--brown);
    
    .cafe__marche-icon {
      filter: brightness(0) invert(1);
    }
  }
}
