@use 'global' as *;

.rental {
  margin-bottom: rem(200);
}

.rental__inner {
  max-width: rem(938);
  padding: 0 var(--padding-pc);
  margin-inline: auto;
}

.rental__left {
  width: rem(501);
}

.rental__logo {
  width: rem(185);
  height: rem(185);
  margin-bottom: rem(65);
}

.rental__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rental__title-en {
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.5em;
  line-height: 2;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.rental__title-jp {
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.18em;
  line-height: 2;
  margin: 0;
  white-space: nowrap;
}

.rental__text {
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2.2;
  margin: 0;
  width: rem(450);
}

.rental__more {
}

.rental__more-text {
  font-family: var(--en-font);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2;
  margin: 0;
  white-space: nowrap;
}

.rental__more::after {
  content: '';
  position: absolute;
  left: rem(114);
  top: rem(46);
  width: rem(10);
  height: rem(10);
  background-color: var(--brown);
  border-radius: 50%;
}

.rental__right {
}

.rental__gallery {
  position: relative;
  width: 100%;
  height: 100%;
}

.rental__gallery-item {
  position: absolute;
}

.rental__gallery-item:nth-of-type(1) {
  left: rem(-55);
  top: rem(-6.01);
  width: rem(291);
  height: rem(193.307);
  mask-image: url('../images/rental/rental_01_mask.svg');
  mask-size: rem(182) rem(181.288);
  mask-position: rem(55) rem(6.01);
  mask-repeat: no-repeat;
}

.rental__gallery-item:nth-of-type(2) {
  left: rem(137);
  top: rem(277.44);
  width: rem(616);
  height: rem(411.653);
  mask-image: url('../images/rental/rental_02_mask.svg');
  mask-size: rem(527) rem(352.56);
  mask-position: rem(44) rem(59.094);
  mask-repeat: no-repeat;
}

.rental__gallery-item:nth-of-type(3) {
  left: rem(491);
  top: rem(34.05);
  width: rem(331);
  height: rem(221.351);
  mask-image: url('../images/rental/rental_03_mask.svg');
  mask-size: rem(262) rem(186.296);
  mask-position: rem(49) rem(18.029);
  mask-repeat: no-repeat;
}

.rental__gallery-item:nth-of-type(4) {
  display: none;
}

.rental__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


