@use 'global' as *;

.rental-img {
  aspect-ratio: 1000/475;
  max-width: rem(1000);
  margin-inline: auto;
  margin-bottom: rem(200);
}

.rental {
  margin-bottom: rem(40);
}

.rental__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(88);
}

.rental__left {
  width: rem(600);
  padding-left: rem(98);
}

.rental__logo {
  width: rem(185);
  aspect-ratio: 1;
}

.rental__logo-img {
  object-fit: contain;
}

.rental__title-en {
  margin-top: rem(-120);
  margin-bottom: rem(45);
  font-family: var(--en-font);
  font-size: rem(28);
  font-weight: var(--bold);
  color: var(--brown);
  letter-spacing: 0.5em;
  line-height: 2;
}

.rental__title-jp {
  margin-bottom: rem(28);
  font-family: var(--base-font-family);
  font-size: rem(22);
  font-weight: var(--bold);
  color: var(--brack);
  letter-spacing: 0.18em;
  line-height: 2;
}

.rental__text {
  margin-bottom: rem(55);
  font-family: var(--base-font-family);
  font-size: rem(16);
  font-weight: var(--regular);
  color: var(--brack);
  letter-spacing: 0.12em;
  line-height: 2.2;
}

.rental__more {
}

.rental__right {
  flex-grow: 1;
  width: 50%;
}

.rental__gallery-item {
}

.rental__gallery-item:nth-of-type(1) {
  aspect-ratio: 182/181;
  width: vw(1440, 182);
}

.rental__gallery-item:nth-of-type(2) {
  aspect-ratio: 262/186;
  width: vw(1440, 262);
  margin-bottom: rem(57);
  margin-left: auto;
  margin-top: rem(-150);
}

.rental__gallery-item:nth-of-type(3) {
  aspect-ratio: 527/352;
  width: vw(1440, 527);
  margin-left: auto;
  margin-right: vw(1440, 90);
}

.rental__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
